body{
  overflow-x:hidden;
  
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  margin-top: 20px;
  
  .master-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .border-wrapper {
    background-color: #f7f7f7;
    box-shadow: 0px 1px #f7f7f7;
    border: 1px solid #c7d4e6;
    padding: 1px;
    border-radius: 9px;
    margin-bottom: 50px;
    height: 100%;
  }

  .border-wrapper:hover {
    border: 2px solid #c7d4e6;
    transition: .1s;
    padding: 0px;
  }

  .portfolio-item-wrapper {
    position: relative;
    margin: 20px;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
      width: 350px;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 433px;
      text-align: center;

      .subtitle {
        display: flex;
        align-items: center;
        transition: 1s ease-in-out;
        color: transparent;
        width: 350px;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $teal;
      font-weight: 400;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.portfolio-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.important-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  margin-bottom: 10px;
}

.github-link {
	background-color:#4fa9ad;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 19px;
  text-decoration:none;
}
.github-link:hover {
  background-color:#275a63;
  transition: 0.5s ease-in-out;
}
.github-link:active {
	position:relative;
	top:1px;
}

.live-link {
	background-color:#fc702f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 19px;
  text-decoration:none;
}
.live-link:hover {
  background-color:#ad4616;
  transition: 0.5s ease-in-out;
}
.live-link:active {
	position:relative;
	top:1px;
}

.banner {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-text-area {
  color: white;
  background-color: black;
}

h1 {
  margin: 0;
  font-size: 50px;
}

