body{
  overflow-x:hidden;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  .master-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-item-wrapper {
    position: relative;
    margin: 20px;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
      width: 350px;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 433px;
      text-align: center;

      .subtitle {
        display: flex;
        align-items: center;
        transition: 1s ease-in-out;
        color: transparent;
        width: 350px;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $teal;
      font-weight: 400;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.portfolio-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.important-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
}

.github-link {
	background-color:#4fa9ad;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 19px;
  text-decoration:none;
}
.github-link:hover {
  background-color:#275a63;
  transition: 0.5s ease-in-out;
}
.github-link:active {
	position:relative;
	top:1px;
}
